* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto,Montserrat, sans-serif;
}

a {
    color: #85afd6;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    box-shadow:0 0 30px 4px rgba(0,0,0,0.06);
    border-bottom: 2px solid #e3e3e3;
    outline: none;
}

input[type=password] {
    margin: 10px 0;
    padding: 10px;
    border:0;
    box-shadow:0 0 30px 4px rgba(0,0,0,0.06);
    border-bottom:1px solid rgb(0, 0, 0);
  }

  .btn {
    padding-top: 10px;
	text-decoration: none;
	color: #6b5770;
	background-image: linear-gradient(90deg, #fd7f34, #bd155b);
	display: inline-block;
	padding: 14px 30px;
	border: 1px solid;
	position: relative;
	z-index: 0;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 0 15px 15px 0;
	outline: none;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}

.btn:before {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #7bd2e7, #43c77a);
	z-index: -2;
	transition: .4s;
	border-radius: 5px;
}
.btn:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #fff, #fff);
	z-index: -1;
	transition: .4s;
	border-radius: 4px;
}

.btn:hover {
	color: #fff;
	transition: .2s;
}
.btn:hover:after {
	background: linear-gradient(90deg, #7bd2e7, #43c77a);
}
.btn:active:after {
	background: linear-gradient(90deg, #7bd2e7, #43c77a);
}
.btn:focus-visible {
	box-shadow: 0 0 0 3px #fd7f34;
}
.btn:disabled {
	pointer-events: none;
}
.btn:disabled:before {
	filter: grayscale(100%);
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logout {
    color: #b7625c;
}